html{
    background-color: lightgreen;
    front-family: sans-serif;
    }
    body{
    marigin: 0
    max-width: 900px
    
    }
    
    header{
    
    background: black;
    height: 100px;
    
    
    }
    
    h1{
    text-align: center;
    color: red;
    line-height: 100px;
    marign: 0;
    
    
    }
    
    
    article {
    
    
        padding: 10px;
        margin: 10px;
        background: lightblue;
    }
    section{
    display: flex;
    flex-direction: row;
    
    
    
    }
    article{
        flex: 200px 1;
        flex-flow: column;
    }
    article: :nth-of-type(3){
    flex: 200px 2;
    display: flex;
    flex-flow: colum;
    
    }

    article :nth-of-type(3) div:first-child{
        flex: 1 100px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;

    }
button{
    flex: 1;
    margin: 3px;
    font-size: 18px;
    line-height: 1.5;
}
    }
    .container{
display: grid;
grid grid-template-columns: 200px 200px 200px;
grid-gap: 10px;
    }
    .container > div {
border: solid yellow 10px;
border-radius: 5px;
padding: 2px;
background-color: purple;


    }
   .wrapper{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-column-gap: 10px;
grid-row-gap: lem;


   } 

   .box1{
grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 3;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 20px;



   }
.wrapper > div {
border: 3px solid red;
border-radius: 50px;
padding: 10px;
background-color: navajowhite;
}
}
}